.event__block {
    margin: 0 0 64px;
}

.event__title {
    font-family: $font-merriweather;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.35;
    text-transform: uppercase;

    > b {
        color: $color-red;
        font-weight: 400;
    }

    @include mobile {
        font-size: 28px;
    }
}