.hero {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 720px;
    background-color: $color-beige;

    @include tablet {
        min-height: 800px;
    }
    
    @include mobile {
        min-height: 680px;
    }

    &::before,
    &::after {
        content: "";
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../img/hero__texture.png');
        background-position: center center;
        mix-blend-mode: color-burn;
    }
}

.hero__chess {
    z-index: 1;
    position: absolute;
    left: calc(50vw);
    width: 1625px;
    bottom: 0;
    transform: translateX(-50%);

    @include tablet {
        width: 1200px;
        transform: translateX(-40%);
        // transform: translateX(-70%);
    }

    @include mobile {
        width: 885px;
        transform: translateX(-70%);
    }

    img {
        display: block;
        width: 100%;
    }
}

.hero__wrap {
    position: relative;
    z-index: 1;
    width: $desktop-wrapper;
    margin: 0 auto;

    @include tablet {
        width: $tablet-wrapper;
    }

    @include mobile {
        width: 100%;
        padding: 0 20px;
        max-width: $mobile-max-wrapper;
    }
}

.hero__logo {
    width: 245px;
    height: 36px;
    margin: 26px 0 62px;

    @include mobile {
        width: 213px;
        height: 32px;
        margin: 18px 0 40px;
    }
}

.hero__text {
    width: 542px;

    @include mobile {
        width: 100%;
    }
}

.hero__title {
    margin: 0 0 24px;
    font-family: $font-merriweather;
    font-weight: 400;
    font-size: 60px;
    line-height: 1.1;
    text-transform: uppercase;

    @include mobile {
        font-size: 36px;
    }
}

.hero__title-item {
    display: block;

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }
}

.hero__subtext {
    margin: 0 0 40px;
    text-align: center;

    @include mobile {
        margin: 0 0 32px;
        text-align: left;
    }
}

.hero__buttons {
    display: flex;
    gap: 16px;

    @include tablet {
        flex-direction: column;
        gap: 14px;
    }
}

.hero__marquee {
    position: relative;
    z-index: 1;
    margin-top: auto;
}
