.members {
  position: relative;
  width: $desktop-wrapper;
  margin: 0 auto 140px;

  @include tablet {
    width: $tablet-wrapper;
  }

  @include mobile {
    width: 100%;
    max-width: $mobile-max-wrapper;
    margin-bottom: 100px;
    padding: 0 20px;
  }
}

.members__title {
  margin-bottom: 60px;
  font-size: 54px;
  font-family: $font-merriweather;
  text-transform: uppercase;
  font-weight: 400;

  @include mobile {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 1.1;
  }

  @include small-mobile {
    font-size: 32px;
  }
}

.members__list {
  @include tablet {
    margin-bottom: 40px;
  }
}

.members__item {
  width: 394px;
}

.members__controls {
  position: absolute;
  right: 0;
  top: 7px;

  @include tablet {
    position: relative;
    top: 0;
  }
}
