.slider {
  &.swiper-initialized {
    .slider__controls {
      display: flex;
    }
  }
}

.slider__controls {
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.slider .swiper-button-next,
.slider .swiper-button-prev {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  margin: 0;
}

.slider__control {
  @include button-reset;
  @include transition(background-color);

  width: 44px;
  height: 44px;
  font-size: 0;
  background-color: $color-text;
  border-radius: 50%;

  @include mobile {
    width: 36px;
    height: 36px;
  }

  &:hover {
    background-color: $color-yellow;
  }

  svg {
    @include mobile {
      width: 36px;
      height: 36px;
    }
  }

  &::after {
    display: none
  }
}

.slider__slide {
  @include transition(opacity);
  flex-shrink: 0;
}

.slider .swiper-pagination {
  position: relative;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: auto;
  max-width: 200px;

  &.slider__counter {
    flex-wrap: nowrap;
    gap: 2px;
    width: 32px;
    font-size: 16px;
    color: rgba($color-text, .6);
  }
}

.slider .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.slider .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0;
  border-radius: 50%;
  background-color: $color-grey;
  opacity: 1;

  &-active {
    background-color: $color-text;
  }
}

.slider .swiper-pagination-current {
  color: $color-text;
}
