@font-face {
  font-family: "GolosText";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/GolosText-Regular.woff2") format("woff2"),
    url("../fonts/GolosText-Regular.woff2") format("woff");
}

@font-face {
  font-family: "GolosText";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/GolosText-Medium.woff2") format("woff2"),
    url("../fonts/GolosText-Medium.woff2") format("woff");
}

@font-face {
  font-family: "GolosText";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/GolosText-Bold.woff2") format("woff2"),
    url("../fonts/GolosText-Bold.woff2") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Merriweather-Regular.woff2") format("woff2"),
    url("../fonts/Merriweather-Regular.woff2") format("woff");
}

@font-face {
  font-family: "Merriweather";
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src:
    url("../fonts/Merriweather-Bold.woff2") format("woff2"),
    url("../fonts/Merriweather-Bold.woff2") format("woff");
}
