// Screen sizes
$mobile-max: 767px;
$tablet: 768px;
$tablet-max: 1279px;
$desktop: 1280px;
$fullhd: 1920px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Colors
// Colors main
$color-black: #1F1F1F;
$color-white: #FFF;
$color-yellow: #FBCE51;
$color-red: #F54932;
$color-text: #313131;
$color-beige: #E9DED4;

// Colors additional

// Gradients

// Box-shadows

// Fonts
$font-merriweather: "Merriweather", "Arial", -apple-system, sans-serif;
$font-golos: "GolosText", "Arial", -apple-system, sans-serif;