mixin marquee
  .marquee 
    .marquee__list
        span.marquee__item Дело помощи утопающим — дело рук самих утопающих!
        span.marquee__item Шахматы двигают вперед не только культуру, но и экономику!
        span.marquee__item Лед тронулся, господа присяжные заседатели!
        span.marquee__item Дело помощи утопающим — дело рук самих утопающих!
        span.marquee__item Шахматы двигают вперед не только культуру, но и экономику!
        span.marquee__item Лед тронулся, господа присяжные заседатели!
    .marquee__list
        span.marquee__item Дело помощи утопающим — дело рук самих утопающих!
        span.marquee__item Шахматы двигают вперед не только культуру, но и экономику!
        span.marquee__item Лед тронулся, господа присяжные заседатели!
    